.editor {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 100%; /* Ajusta el editor para que se expanda */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  overflow: auto; /* Para manejar contenido largo */
}

.editor.dark {
  background-color: #1e1e1e;
  color: #dcdcdc;
}

.editor.light {
  background-color: #f0f0f0; /* Fondo gris claro */
  color: #000000;
}

/* 
.CodeMirror {
  font-family: Arial, monospace; /* Define la fuente a Arial, con monospace como respaldo */
/*  font-size: 16px; /* Cambia el tamaño de la fuente a 16px */
/*  line-height: 1.5; /* Opcional: ajusta la altura de línea si lo necesitas */
/*} 


