.chart-container {
  display: flex;
  flex-direction: column; /*Cambia la dirección del flex a columna */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;     /* Centra la imagen verticalmente */
  padding: 20px;          /* Espaciado interno */
  border: 2px dashed #ccc; /* Borde alrededor del contenedor */
  border-radius: 8px;     /* Bordes redondeados */
  min-height: 200px;      /* Altura mínima para dar un aspecto de área vacía */
}

.graph-image {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 400px; /* Limita la altura máxima de la imagen */
  object-fit: contain; /* Mantiene la proporción de la imagen */
}

p {
  color: #666; /* Color del texto */
  font-style: italic; /* Estilo de texto */
  margin: 0; /* Elimina márgenes para un mejor alineamiento */
  text-align: center; /* Centra el texto */
}

/* Estilos para modo claro */
.chart-container.light {
  background-color: #ffffff; /* Color de fondo blanco */
  border-color: #ccc; /* Color del borde */
  color: #000; /* Color del texto */
}

/* Estilos para modo oscuro */
.chart-container.dark {
  background-color: #333; /* Color de fondo oscuro */
  border-color: #666; /* Color del borde */
  color: #fff; /* Color del texto */
}

.chart-container.dark p {
  color: #aaa; /* Color del texto en modo oscuro */
}
.snake-container {
  --speed: 2s; /* Definir la variable CSS para la velocidad */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-container svg {
  width: 100%;
  height: 100%;
  max-width: 144px;
  max-height: 90vh;
  /* Para evitar el desbordamiento mientras se mantiene responsivo */
}

.snake-container .snake-group { 
  stroke: #292A18; 
}

.snake-container .snake { 
  animation: stroke-anim var(--speed) linear infinite; 
  stroke-dasharray: 32 224;
  stroke-dashoffset: 256;
  animation-timing-function: steps(32);
}

@keyframes stroke-anim {
  to { 
    stroke-dashoffset: 0; 
  }
}

.snake-container .dot { 
  animation: dot1 var(--speed) steps(1) infinite; 
}

@keyframes dot1 { 
  0%, 26%, 91.1% { 
    opacity: 1; 
  }
  26.1%, 91% { 
    opacity: 0; 
  }
}

.snake-container .dot-2 { 
  animation-name: dot2; 
}

@keyframes dot2 { 
  0%, 26%, 51%, 100% { 
    opacity: 0; 
  }
  26.1%, 50% { 
    opacity: 1; 
  }
}

.snake-container .dot-3 { 
  animation-name: dot3; 
}

@keyframes dot3 { 
  0%, 50%, 92%, 100% { 
    opacity: 0; 
  }
  50.1%, 92% { 
    opacity: 1; 
  }
}